<h1>D3 Chart</h1>
<button 
    *ngIf="currentLevel>1"
    (click)="controlLevel($event)">Back</button>
<div class="graph-view display-inline">
    <app-bar-chart 
        *ngIf="data && currentLevel == 1"
        [data]="data | async"
        [valueKey]="barChartValueKey"
        [labelKey]="barChartLabelKey"
        (barClick)="handleBarClick($event)"></app-bar-chart>
    <app-pie-chart
        *ngIf="pieChartData && currentLevel == 2"
        [data]="pieChartData"
        [valueKey]="pieChartValueKey"
        [labelKey]="pieChartLabelKey"
        (pieClick)="handlePieClick($event)"></app-pie-chart>
</div>

<pre class="display-inline"> data - {{(data | async) | json}}</pre>